{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- ===== Iconscout CSS ===== -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<style>
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    position: relative;
    max-width: 730px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px auto;
}

.wrapper .forms{
    display: flex;
    align-items: center;
    height: 740px;
    width: 200%;
    transition: height 0.2s ease;
}


.wrapper .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.wrapper.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.wrapper .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.wrapper.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.wrapper.active .forms{
    height: 600px;
}
.wrapper .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form p{
    text-align: center;
    margin-top: 20px;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #27282a;
}

.form .google_button{
    margin-top: 35px;
    width: 100%;
}

.form .google_button a{
    border: 4px solid #000000;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px 45%;
}

.google_button:hover a{
    color: #fff;
    background-color: #000000;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
</style>
<div class="wrapper">
        <div class="forms">
            <div class="form login">
                <span class="title">Password Reset</span>

                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="input-field">
                        {{ form.email }}
                        {{ form.email.errors }}
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                        {{form.captcha}}
                        {{form.captcha.errors}}
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Send Email">
                    </div>
                    
                </form>

                <div class="login-signup">
                    <span class="text">
                        <a href="{% url 'register' %}" class="text signup-link">Signup Now</a> or
                        <a href="{% url 'login' %}" class="text signup-link">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script>
            const wrapper = document.querySelector(".wrapper"),
            pwShowHide = document.querySelectorAll(".showHidePw"),
            pwFields = document.querySelectorAll(".password"),
            signUp = document.querySelector(".signup-link"),
            login = document.querySelector(".login-link");

            //   js code to show/hide password and change icon
            pwShowHide.forEach(eyeIcon =>{
                eyeIcon.addEventListener("click", ()=>{
                    pwFields.forEach(pwField =>{
                        if(pwField.type ==="password"){
                            pwField.type = "text";

                            pwShowHide.forEach(icon =>{
                                icon.classList.replace("uil-eye-slash", "uil-eye");
                            })
                        }else{
                            pwField.type = "password";

                            pwShowHide.forEach(icon =>{
                                icon.classList.replace("uil-eye", "uil-eye-slash");
                            })
                        }
                    }) 
                })
            })
    </script>
{% endblock %}