{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
   <div class="container">
	   <div class="row">
		   <div class="col-lg-12">
			   <div class="breadcrumb__text">
				   <h4>Categories</h4>
				   <div class="breadcrumb__links">
					   <a href="{% url 'home' %}">Home</a>
					   <span>Categories</span>
				   </div>
			   </div>
		   </div>
	   </div>
   </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Categories Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
		{% if data %}
			{% for cat in data %}
            <div class="col-lg-6">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="{{cat.image.url}}" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>{{cat.title}}</h2>
                        <a href="/category-product-list/{{cat.id}}">Shop now</a>
                    </div>
                </div>
            </div>
			{% endfor %}
		{% endif %}
	</div>
</div>
</section>
{% endblock %}